<div class="wrapper">
  <i class="weather-condition-icon"></i>

  <div class="city-information">
    <span><%= city['name'] %>, </span>
    <span><%= city['country'] %></span>
  </div>

  <div class="temperature"><%= city['temperature'] %> deg</div>

  <div class="currency">
    <span>Currency: </span>
    <span><%= city['currency'] %></span>
  </div>
</div>
