@media (min-width: 600px) {
  body {
    background-position: bottom center;
    background-size: 100vw auto;
    padding-top: calc(50vh - #{$weather-icon-size / 2});
    text-align: left;
  }

  .wrapper {
    flex-wrap: wrap;
    height: $weather-icon-size;
    justify-content: center;
  }

  .city-information {
    order: initial;
  }

  .weather-condition {
    text-align: right;
  }
}
